<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/next_page_style.css' %}">
</head>
<body>
    <div id="mydiv">
        <pre>Name:                {{name1}}</pre>
        <pre>Dojo Location:       {{location1}}</pre>
        <pre>Favourite Language:  {{language1}}</pre>
        <pre>Comment:             {{comment1}}</pre>
    </div>
</body>
</html>